<% unless @answer.to_s.empty? %>
  <h1>Hello <%= @answer %></h1>
<% end %>

<form action="/cahanswers" method="post">
  <input type="text" name="answer" value="<%= @answer %>">
  <input type="submit">
</form>

<ul>
  <li>Dummy list item</li>
  <% @answers.each do |answer| %>
    <li><%= answer %></li>
  <% end %>
<ul>

<% if @message %>
  <p><%= @message %></p>
<% end %>