<% unless @answer.to_s.empty? %>
  <h1><%= @answer %></h1>
<% end %>

<form action="/cahanswers" method="post">
  <input type="submit" value="Give me an answer">
</form>

<% if @message %>
  <p><%= @message %></p>
<% end %>